/* Navbar CSS */
.inline-block {
  display: inline-block;
  vertical-align: top;
}

.logo {
  width: 23%;
  padding: 1%;
}

nav {
  width: 73%;
  padding: 1%;
}

nav ul {
  width: 50%;
  margin-left: auto;
}

.logo img {
  text-align: center;
}

/* Hero Image CSS */
.heroImg {
  height: 600px;
  padding: 25px;
  background-color: #f2f2f2;
}

.heroImg .content {
  width: 500px;
  margin: 0 auto;
}

/* Footer CSS */
footer {
  background-color: #373738;
  padding: 20px;
  color: #fff;
}

footer ul {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
}

footer li {
  padding: 5px;
  text-align: center;
}

/* Bonus work */
.infoSection {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.infoSection .infoBox {
  flex-basis: calc(33.33% - 20px);
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}
.infoSection .infoBox h3 {
  color: #333;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #f2f2f2;
  z-index: 999;
}

.navigation ul {
  list-style: none;
  display: flex;
}

.navigation ul li {
  margin-left: 10px;
}

.navigation ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px;
}

.navigation ul li a:hover {
  background-color: #333;
  color: #fff;
}

.heroImg {
  margin-top: 60px; /
}

.heroImg .content {
  text-align: center;
}

.heroImg img {
  max-width: 100%;
}

.heroImg p,
.heroImg button {
  margin-top: 20px;
}

/* About Me section */
.aboutMe {
  background-color: #f2f2f2;
  padding: 40px 0;
  text-align: center;
}

.aboutMe h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.aboutMe p {
  font-size: 16px;
  line-height: 1.5;
}

.flexContainer {
  display: flex;
}

.flexContainer > div {
  width: 33%;
  margin: 10px;
  padding: 20px;
}

.myWork {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.workGrid {
  display: grid;
  grid-template-areas:
    "project1 project1-details"
    "project2 project2-details";
  gap: 20px;
}

.project1 {
  grid-area: project1;
}

.project1-details {
  grid-area: project1-details;
}

.project2 {
  grid-area: project2;
}

.project2-details {
  grid-area: project2-details;
}

@media screen and (max-width: 600px) {
  .flexContainer {
    flex-direction: column;
  }
  
  .flexContainer > div {
    width: 100%;
  }
  
  .workGrid {
    grid-template-areas:
      "project1"
      "project1-details"
      "project2"
      "project2-details";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
  }
}
